<div class="container">

  <div class="page-heading">
    <h1>Check out all SocialProCons, <%=@current_user.username if @current_user%>!</h1>
  </div>

<div class="row">
  <div class="col-md-6">
    <div class="page-heading">
      <p class="lead">View other users' most recent Pro/Con lists:</p>
    </div>
      <%List.order(:created_at).reverse.each do |list|%>
        <%if list.user_id != @current_user.id && list.user_id%>
          <h4><a href="/lists/<%=list.id%>"><%=list.title%></a> by <a href="/users/<%=User.find(list.user_id).username%>"><%=User.find(list.user_id).username%></a></h4>
          <p><%=list.description%></p>
        <%end%>
      <%end%>
    </div>

    <div class="col-md-6">
      <div class="page-heading">
        <p class="lead">View and edit your Pro/Con lists:</p>
      </div>

      <%@current_user.lists.all.each do |list|%>
          <a href="/lists/<%=list.id%>"><h4><%=list.title%></h4></a>
          <p><%=list.description%></p>
      <%end%>
    </div>
  </div>
  <br></br>
</div>
