<h1>Decision: <%=@list.title if @list%></h1>
<h2>Description: <%=@list.description%></h2>


<br></br>


<h3>Pros:</h3>
    <%@list.pros.each do |pro|%>
      <li><%=pro.description%></li>
      <li>Rank: <%=pro.rank%></li>
      <br>
    <%end%>
<a href="/lists/<%=@list.id%>/procons/new">Add a New Pro</a>

<br>
  <h3>Cons:</h3>
    <%@list.cons.each do |con|%>
      <li><%=con.description%></li>
      <li>Rank: <%=con.rank%></li>
      <br>
    <%end%>
  <a href="/lists/<%=@list.id%>/procons/new">Add a New Con</a>

<br></br>
