<div class="container">
  <div class="page-header">
    <h1><%=@list.title if @list%> <small><%=@list.description%></small></h1>
    <h3>by <%=User.find(@list.user_id).username%></h3>
  </div>

  <br></br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading"><h3>Pros:</h3></div>
          <!-- List group -->
          <ul class="list-group">
            <%@list.pros.each do |pro|%>
              <li class="list-group-item"><%=pro.description%> <br> Rank: <%=pro.rank%></li>
            <%end%>
            <li class="list-group-item"><button href="/lists/<%=@list.id%>/pros/edit" class="btn btn-primary btn-block">Add New Pros</button></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-danger">
          <!-- Default panel contents -->
          <div class="panel-heading"><h3>Cons:</h3></div>
          <!-- List group -->
          <ul class="list-group">
            <%@list.cons.each do |con|%>
              <li class="list-group-item"><%=con.description%> <br> Rank: <%=con.rank%></li>
            <%end%>
            <li class="list-group-item"><button href="/lists/<%=@list.id%>/pros/edit" class="btn btn-primary btn-block">Add New Cons</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
