<div class="container">
  <div class="page-header">
    <h1><%=@list.title if @list%> <small><%=@list.description%></small></h1>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-8">

      <a href="/lists/<%=@list.id%>/edit" class="btn btn-primary btn-block" role="button">Edit list</a>
    </div>
    <div class="col-md-2">
      <form method="post" action="/lists/<%=@list.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" value="submit" class="btn btn-danger btn-block">Delete list</button>
      <form>
    </div>
  </div>

  <br></br>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading"> <h4 class="text-center">Pros</h4></div>
        <!-- List group -->
        <ul class="list-group">
          <%@list.pros.each do |pro|%>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-10"><%=pro.description%></div>
                <div class="col-md-2">+<%=pro.rank%></div>
              </div>
            </li>
          <%end%>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2 col-md-offset-8">
                  <h5>Total:</h5>
              </div>
              <div class="col-md-2">
                  <h5>+<%=@list.pro_sum%></h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading"> <h4 class="text-center">Cons</h4></div>
        <!-- List group -->
        <ul class="list-group">
          <%@list.cons.each do |con|%>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-10"><%=con.description%></div>
              <div class="col-md-2">-<%=con.rank%></div>
            </div>
          </li>
          <%end%>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2 col-md-offset-8">
                  <h5>Total:</h5>
              </div>
              <div class="col-md-2">
                  <h5>-<%=@list.con_sum%></h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
      <%if @list.pro_con_sum > 0%>
        <div class="alert alert-success" role="alert"> <h3 class="text-center">Pro/Con Rank Total: <%=@list.pro_con_sum%></h3></div>
      <%elsif @list.pro_con_sum == 0%>
        <div class="alert alert-info" role="alert"> <h3 class="text-center">Pro/Con Rank Total: <%=@list.pro_con_sum%></h3></div>
      <%else%>
        <div class="alert alert-danger" role="alert" > <h3 class="text-center">Pro/Con Rank Total: <%=@list.pro_con_sum%></h3></div>
      <%end%>

  </div>

</div>

  <br></br>
