<h1>Choice: <%=@choice.title if @choice%></h1>
<h2>Description: <%=@choice.description%></h2>

<ul>
  <h3>Pros:</h3>
    <%@choice.pros.each do |pro|%>
      <li><%=pro.description%></li>
      <li>Rank: <%=pro.rank%></li>
    <%end%>
</ul>
<br>
<ul>
  <h3>Cons:</h3>
    <%@choice.cons.each do |con|%>
      <li><%=con.description%></li>
      <li>Rank: <%=con.rank%></li>
    <%end%>
</ul>


<br></br>
<a href="/choices/<%=@choice.id%>/edit">Edit Choice</a>



<form method="post" action="/choices/<%=@choice.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" value="submit">Delete Choice</button>
<form>
