<div class="container">
    <h1>Create New <%=@procon.capitalize%></h1>
    <h2><%=@list.title%> <small><%=@list.description%></small></h2>
    <br>

  <form action="/lists/<%=@list.id%>/<%=@procon%>" method="POST">
    <div class="form-group">
      <label for="description">Description of Argument: </label>
      <textarea name="description" class="form-control" placeholder="description required" rows="3" required autofocus></textarea>
    </div> <br>
    <div class="form-group">
      <select class="form-control" name="weight">
        <option selected>Select weight. 0 = no signficance, 10 = highest signifcance.</option>
        <%(0..10).to_a.each do |index|%>
          <option value"<%=index%>"> <%=index%></option>
        <%end%>
      </select> <br>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Finish </button>
  </form>
</div>
