<div class="container">

    <div class="row">
      <div class="page-header">
        <div class="col-md-10">
          <h1>Edit <%=@procon%> from <%=@list.title%></h1>
          <h2> <small><%=@list.description%></small></h2>
        </div>
      <div class="col-md-2">
        <br>
        <div class="form-group">
          <form method="post" action="/lists/<%=@list.id%>/<%=@procon%>/<%=@item.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <button type="submit" value="submit" class="btn btn-danger btn-block">Delete <%=@procon.capitalize%></button>
          <form>
        </div>
      </div>
    </div>
  </div>

  <form action="/lists/<%=@list.id%>/<%=@procon%>/edit" method="POST">
    <div class="form-group">
      <label for="description">Description of Argument: </label>
      <textarea name="description" class="form-control" rows="3" ><%=@item.description%></textarea>
    </div>
    <div class="form-group">
      <select class="form-control" name="weight" >
        <option selected>Current weight: <%=@item.weight%></option>
        <%(0..10).to_a.each do |index|%>
          <%if index != @item.weight%>
            <option value"<%=index%>"> <%=index%></option>
          <%end%>
        <%end%>
      </select>
    </div> <br>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <a role="button" href="/lists/<%=@list.id%>" class="btn btn-warning btn-block" title="cancel">Cancel</a>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
      </div>
    </div>
  </form>


  <br></br>
</div>
