<div class="container">

    <div class="row">
      <div class="page-header">
        <div class="col-md-10">
          <h1>Edit <%=@procon%> from <%=@list.title%></h1>
          <h2> <small><%=@list.description%></small></h2>
        </div>
      <div class="col-md-2">
        <br>
        <div class="form-group">
          <form action="/lists/<%=@list.id%>/<%=@procon%>/<%=@item.id%>/delete" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block">Delete <%=@procon%></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <form action="/lists/<%=@list.id%>/<%=@procon%>/<%=@item.id%>" method="post">
    <input type="hidden" value="patch" name="_method">

    <div class="form-group">
      <label for="description">Description of Argument: </label>
      <textarea name="item[description]" class="form-control" rows="3" required><%=@item.description%></textarea>
    </div>
    <div class="form-group">
      <label for="weight">Weight of Argument: </label>
      <select class="form-control" name="item[weight]" >
        <option selected><%=@item.weight%></option>
        <%(0..10).to_a.each do |index|%>
          <%if index != @item.weight%>
            <option value"<%=index%>"> <%=index%></option>
          <%end%>
        <%end%>
      </select>
    </div> <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Update</button
    </div>
  </form>


  <br></br>
</div>
